*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;

}

.phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;

}

.phone img{
    height: 60%;
    border-radius: 20px;

}

.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 20rem;

}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid rgb(24, 24, 24);

}

.group:nth-child(1){
    min-height: 20rem;

}

.logo{
    height: 5rem;
}

.avatar img{
    height: 7rem;
    border-radius: 20px;
    overflow: hidden;

}

h1{
    color: white;
    font-size: 4em;
}

.cod_login{
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;

}

.cod_logout{
    background-color: rgb(27, 25, 0);
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    margin: 1rem;
    padding: 10px;
    border-radius: 2px;

}

.not-account{
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
   
}

.create{
    color: whitesmoke;
    font-weight: bold;
}

.link{
    color: yellow;
    font-weight: bold;
    margin: 5px;

}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;

}

.get-app{
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;

}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

}

.app-download{
    margin-top: 15px;
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('/assets/img/apple-button.png');

}

.app-download:nth-child(2){
    background-image: url('/assets/img/googleplay-button.png');

}

/* Media querias */

@media (max-width: 1024px){
    .container{
        width: 90%;
    }

}

@media (max-width: 780px){

    .group{
        border: 1px solid transparent;

    }

    .container{
        width: 90%;
    }

    .phone{
        display: none;
    }

    .login{
        width: 100%;

    }

}